* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rowdies", sans-serif;

  font-style: normal;

  color: #000;
}
html,
body {
  width: 100%;
  height: 100%;
}
.main {
  padding: 10px 50px;
}
.nav {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;

  cursor: pointer;
}
.logo a {
  text-decoration: none;
}
.logo img {
  width: 60px;
  height: 60px;
  background: #fff;
}
.nav .logo .b {
  width: 30px;
  height: 30px;
  background-color: rgb(27, 7, 136);
  border-radius: 50%;
  display: flex;
  padding: 20px;
  margin-top: 1vh;
  transition: all linear 0.4s;
}
.logo h1 {
  font-size: 35px;
  display: flex;
  align-items: center;
  font-family: "Rowdies", sans-serif;

  font-style: normal;
}
.nav .r {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
}

.nav .r .a {
  height: 4vh;
  width: 1px;
  background-color: #000;
}

.nav .r a {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  transition: all ease 0.4s;
}

.nav .r a:hover {
  color: #b6b4b4;
}
.underline {
  width: 100%;
  height: 1px;
  background-color: #222222;
}

.projects {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 50px 0;
  
  
}
article {
  
  width: 100%;
  height: 100%;
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #c5abab;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  gap: 2vw;
}

article a::after {
  
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
  
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  text-align: center;
  font-size: 30px;
  font-family: "poppins";
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  
}

article img {
  max-width: 100%;
  
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
  
  
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
  font-size: 18px;
}

article a:focus {
  outline: 1px dotted #28666e;
  
  
}

article a .icon {
  
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/************************ 
Generic layout (demo looks)
**************************/

*,
*::before,
*::after {
  box-sizing: border-box;
  gap: 10px;
  font-family: "poppins", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  
  font-size: 15px;
  line-height: 2rem;
  background-image: linear-gradient(45deg, #7c9885, #b5b682);
  min-height: 100vh;
  
}

.articles {
  
  display: flex;
  justify-content: space-between;
  max-width: 20px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.footer {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 50px;
}
.y {
  width: 100%;
  height: 1px;
  background-color: #000;
}
.footer .phone h2 {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}
.footer .phone h5 {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
}
.footer .email h2 {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}
.footer .email h5 {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
}
.footer .follow h2 {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}
.footer .follow i {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  cursor: pointer;
}
