*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
    

}
.s{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   gap: 3vh;
    
}
h1{
    font-size: 30px;
    font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
   

}
a button{
    padding: 7px 15px;
    border: none;
    transition: all ease 0.4s;
    border-radius: 5px;
    font-family: "Source Code Pro", monospace;
    font-weight: 500;
    cursor: pointer;
    font-size: 15px;
    background-color: #000;
    color: #fff;

}
a button:hover{
    color: #000;
    background-color: #b6b4b4;
}